* {
  font-family: "Poppins", sans-serif;
}
/* index pages styles start */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.aside {
  background-color: antiquewhite;
}

.main {
  background-color: aquamarine;
}
/* index pages styles end */

/* login page styles start */

.main-wrap {
  height: 100vh;
  margin: 0 !important;
  text-align: center;
  background-image: url("./images/bg1_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login {
  margin: 0 auto;
  padding: 20px;
  width: 40%;
  background-color: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  padding: 20px;
  width: 50%;
  align-items: center;
}

.login-form input {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: rgb(2, 134, 193);
  border: rgb(2, 134, 193) solid;
  padding: 10px;
  border-radius: 8px;
  width: 100px;
  color: white;
}

.login-form input {
  background-color: rgb(232, 240, 254);
  height: 40px;
  padding: 10px;
  border-style: none;
}

.sec-title {
  font-weight: 300;
  color: rgb(63, 63, 63);
}
/* login page styles end */
