* {
  font-family: "Poppins", sans-serif;
}
/* index pages styles start */
.header {
  background-color: #019eb1;
}

a.user.nav-link {
  color: #fff;
}
/* ul.left {
  margin-left: 60rem;
} */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main {
  background-color: rgb(201, 201, 201);
}

.profile {
  padding: 20px;
}

.user-img {
  border-radius: 50%;
  width: 100%;
}
/* index pages styles end */

/* login page styles start */
.login-body {
  background-image: url("./images/bg1_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-wrap {
  text-align: center;
}

.login {
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 10%;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0.9375rem auto;
  padding: 1.25rem;
  width: 50%;
  align-items: center;
}

.login-form input {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: rgb(2, 134, 193);
  border: rgb(2, 134, 193) solid;
  padding: 0.625rem;
  border-radius: 8px;
  width: 6.25rem;
  color: white;
}

.login-form input {
  background-color: rgb(232, 240, 254);
  height: 2.5rem;
  padding: 0.625rem;
  border-style: none;
}

.sec-title {
  font-weight: 300;
  color: rgb(63, 63, 63);
}
/* login page styles end */
